body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 350px;
}
input {
    border-color: #ad2f64;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}
button {
    background-color: #ad2f64;
    border: 1px solid #ad2f64;
    color: white;
    padding: 10px 20px;
    margin-top: 5px;
    font-weight: bold;
}
#delete-btn{
    color: #ad2f64;
    background-color: white;
}
ul{
    margin-top: 20px;
    list-style-type: none;
    padding-left: 0;
}
li{
    margin-top: 5px;
}
a{
    color: #ad2f64;
    margin: 0;
    padding: 0;
}